@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root, 
button
 {
  margin: 0;
  font-family:'Varela Round', sans-serif;
  color: green
}


.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-rows: 1.5fr 6fr 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
}

header {
  grid-area: header;
  background-color: #c7eec2 ;
  text-align: center;
  padding: 1rem;
  font-size: 4rem;
}

header h1 {
  margin: 1.5rem;
  font-size: 4rem;
}
main {
  grid-area: main;
  background-color: rgb(233, 247, 233);
  text-align: center;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  font-size: large;
  margin: 0;
}
.nav button {
  border: none;
  width: 10rem;
}
.checkout-button{
  position: relative;
}


.item-number p{
  background: rgb(255, 132, 132);
  border-radius: 50%;
  font-size: medium;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 5%;
  right:30%
}

footer {
  grid-area: footer;
  background-color: #c7eec2;
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  text-align: center;
}


.content {
  display: flex;
  flex-wrap: wrap;
}

.main, 
.main-content {
  flex: 3 60rem;
  justify-content: center;
  align-items: center;
}

/* product main section */

.products ul{
  display: flex; 
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  list-style-type: none; 
  font-size: 1rem;
}


.products li {
  flex: 0 1 29rem;
  height: 42rem; 
  padding: 1rem; 
}

.products p {
  font-size: 1.5rem;
  margin: 1rem;
  padding: 0.5rem;
}

.product img {
  max-height: 25rem;
  max-width: 25rem;
}

.product-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  padding: 1rem;
  border: 0.1rem solid #a0c19c;
  background-color: #c7eec2;
  width: 40%;
}
button:hover{
  color:gold;
  cursor: pointer;
  font-weight: 600;
  transform: scale(1.2)
}

/* Filter */

.filter {
  display: flex;
  flex: wrap;
  justify-content: space-around;
  margin: 0.5rem;
  align-items: center;
  width: 100%
}
.filter-type select{
  margin: 0.5rem;
}

/* Product Modal Section */

.product-modal {
  display: flex;
  height: 75vh;
}

.product-model-description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5rem;
}
product-modal img{
  max-height: 80%;
}
.materials-care p{
  font-size: small;
  line-height: 4%; 
}
.close-modal {
  width: 0.75rem;
  height: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  flex-flow: row-reverse wrap;
}

/* Nav - AboutUs Modal Section */

.about-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 75vh;
}

.title-modal {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:95%;
  margin: 2rem;
}

.about-modal img {
  max-height: 32rem;
  max-width: 28rem; 
}

.about-description-modal{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 10%;
  font-size: 1.25rem;
}

/* Cart- Cart Modal Section */
.title-section{
  border-bottom: solid #a0c19c;
  width: 100%;
  padding: 0.25rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.checkout-modal{
  width: 100%;
  flex: 3 60rem;
}

.cart-modal {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: left;
  padding: 1rem;
}

.cart-modal ul, 
.cart-items {
  list-style-type: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  width:fit-content;
  padding: 0;
}

.cart-items img {
  max-height: 28rem;
  max-width: 25rem; 
}

.cart-items ul{
  width:50%;
}

.each-product-section {
  display: flex;
  flex-direction: row;
}

.title, 
.price {
  font-size: 1.5rem;
  margin: 0.5rem;
  width: fit-content;
}

.cart-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width:fit-content;
}
.cart-info button, 
.checkout button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 2.5rem;
  margin: 1rem;
  text-align: center;
}

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin-top: 10%;
  padding-left: 10%;
}
.checkout-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total-price{
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

form li,
form label {
  margin: 0.5rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}